<template>
  <curriculum />
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Curriculum from '@/components/Curriculum.vue'

export default defineComponent({
  name: 'Home',
  components: {
    Curriculum
  }
})
</script>
