<template>
  <aside class="col offset-m1 m3 s12">
    <div class="card truncate">
      <div class="card-content">
        <section id="admin" class="grey-text text-darken-3">
          <div>
            mmeisson at outlook dot fr
            <i class="tiny material-icons left">email</i>
          </div>
          <div>83300 Draguignan <i class="tiny material-icons left">home</i></div>
          <div>30 Juin 1993 <i class="tiny material-icons left">cake</i></div>
          <div>Permis B <i class="tiny material-icons left">drive_eta</i></div>
          <div>
            Vehicule Personnel
            <i class="tiny material-icons left">drive_eta</i>
          </div>
          <div>Private <i class="tiny material-icons left">phone</i></div>
        </section>

        <hr />
        <section id="skills" class="">
          <h3 class="blue-text">Compétences</h3>
          <ul>
            <li v-for="(skill, index) in skills" :key="index">{{ skill }}</li>
          </ul>
        </section>

        <hr />
        <section id="languages" class="">
          <h3 class="blue-text">Langues</h3>
          <ul>
            <li>
              <div>
                <span>Français: </span>
                <span class="italic">Langue Maternelle</span>
              </div>
            </li>
            <li>
              <div>
                <span>Anglais: </span>
                <span class="italic">Technique écrit</span>
              </div>
            </li>
          </ul>
        </section>

        <hr />
        <section id="travels" class="">
          <h3 class="blue-text">Voyages</h3>
          <ul>
            <li>Japon ; Tokyo</li>
          </ul>
        </section>

        <hr />
        <section id="links" class="">
          <h3 class="blue-text">Liens</h3>
          <ul>
            <li>
              <div>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://fr.linkedin.com/in/maxime-meissonnier-73376972"
                  >linkedin</a
                ><i class="tiny material-icons left">link</i>
              </div>
              <div>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="http://gitlab.com/mmeis"
                  >gitlab</a
                ><i class="tiny material-icons left">code</i>
              </div>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </aside>
</template>

<script lang="ts">
import { isJob, Jobs } from '@/types/jobs'
import { defineComponent, PropType } from 'vue'

const skills: {[key in Jobs]: Array<string>} = {
  Fullstack: [
    'Javascript / Typescript',
    'VueJS / ReactJS',
    'Python',
    'Flask / Django',
    'NodeJS',
    'Flask',
    'PHP',
    'Unix / Git / Shell',
    'Docker',
    'C'
  ],
  Backend: [
    'Python',
    'Flask',
    'Django',
    'Nodejs',
    'Flask',
    'PHP',
    'Unix / Git / Shell',
    'Docker'
  ],
  Frontend: [
    'Javascript',
    'Typescript',
    'VueJS',
    'ReactJS',
    'Unix / Git / Shell',
    'Docker'
  ],
  Software: [
    'C',
    'Python',
    'Nodejs',
    'Unix / Git / Shell',
    'Docker'
  ]
}

export default defineComponent({
  name: 'AdditionalInfo',
  props: {
    job: {
      type: Object as PropType<Jobs>,
      validator: isJob
    }
  },
  computed: {
    skills: function (): Array<string> {
      if (this.job) {
        return skills[this.job]
      }
      return []
    }
  }
})
</script>
