<template>
  <section>
    <h3>Diplômes et Formations</h3>
    <ul>
      <li v-for='(certification, index) in certifications' :key='index'>
        <main-item v-bind="certification"/>
      </li>
    </ul>
  </section>
</template>

<script lang='ts'>
import { defineComponent } from 'vue'
import MainItem from '@/components/MainItem.vue'

interface Certification {
  name: string;
  date: string;
  location: string;
  desc: string;
}

const certifications: Array<Certification> = [
  {
    name: 'Titre d\'architecte en technologies du numérique',
    date: 'De Novembre 2015 a Décembre 2019',
    location: '42 \\\\Paris',
    desc: 'C, C++, unix, développement d\'un shell, développement d\'outils\n' +
            'réseaux, algo, threads, sécu'
  },
  {
    name: 'Assistance informatique à domicile',
    date: 'De Mars 2013 a Juin 2013',
    location: 'Mode83 \\\\Draguignan',
    desc: 'Formation d\'utilisateurs néophytes aux bases de l\'informatique'
  }
]

export default defineComponent({
  name: 'Certifications',
  components: {
    MainItem
  },
  data () {
    return {
      certifications
    }
  }
})
</script>

<style lang="css" scoped>
.card-date {
  margin-bottom: -4px;
}
</style>
