<template>
  <main :style="style" id="cvv" class="container z-depth-1">
    <select v-model="job" style="display: block; background-color: rgba(0,0,0,0)">
      <option style="background-color: rgba(0,0,0,0)" v-for="(job, index) in jobs" :key="index">{{ job }}</option>
    </select>

    <button class="btn right" @click="convertToPDF">Convert to PDF</button>

    <div class="row" id="cv">
      <main-info :job="job"/>

      <additional-info :job="job" />

    </div>
  </main>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import MainInfo from '@/components/MainInfo.vue'
import AdditionalInfo from '@/components/AdditionalInfo.vue'
import { isJob, Jobs } from '@/types/jobs.ts'

import Jspdf from 'jspdf'

const colorMap: {[key in Jobs]: string} = {
  Fullstack: 'hsl(33,41%,70%)',
  Backend: '#c5c5bc',
  Frontend: 'hsl(214,27%,75%)',
  Software: '#43433A'
}

export default defineComponent({
  name: 'HelloWorld',
  components: {
    MainInfo,
    AdditionalInfo
  },
  data () {
    const qjob = this.$route.query.job
    const job: Jobs = isJob(qjob) ? qjob : Jobs.Fullstack

    return {
      job,
      jobs: [...Object.keys(Jobs)]
    }
  },
  computed: {
    style: function () {
      const job = this.job as Jobs

      return {
        backgroundColor: colorMap[job]
      }
    }
  },
  methods: {
    convertToPDF () {
      const jspdf = new Jspdf('p', 'px', 'a4', true)
      const el = document.getElementById('cv')
      const icons = document.querySelectorAll('.material-icons')

      if (el) {
        el.style.zoom = '50%'

        icons.forEach(icon => icon.classList.add('hide'))
        jspdf.html(
          el,
          {
            callback: doc => {
              icons.forEach(icon => icon.classList.remove('hide'))
              doc.save()
            },
            margin: 20,
            filename: 'cv_mmeisson.pdf',
            html2canvas: {
              scale: 0.33,
              letterRendering: true
            }
          }
        )
      }
    }
  }
})
</script>
