<template>
  <section class="big-text">
    <h3 class="main-title">Maxime Meissonnier</h3>
    <div class="blue-text text-darken-1"><h5>{{ job }} developper</h5></div>
    <div class="italic">
      Diplomé de l'école 42
    </div>
  </section>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'MainInfo',
  props: ['job']
})
</script>

<style lang="css">
  .main-title {
    margin: 1rem 0 1.168rem 0;
  }
</style>
