<template>
  <div class='card'>
    <div class='card-content'>
      <span class='card-title'>
        {{ name }}
        <span class='blue-text text-lighten-2 right'>{{ location }}</span>
      </span>
      <p class="card-date"><small>{{ date }}</small></p>
      <div class='card-follow-content'>
        {{ desc }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'MainItem',
  props: ['name', 'location', 'date', 'desc']
})
</script>

<style lang="css" scoped>
  .card-date {
    margin-top: -12px !important;
    margin-left: 10px !important;
  }

  .card-follow-content {
    padding-top: 20px;
    overflow-wrap: normal !important;
  }
</style>
