<template>
  <section class="col offset-m1 m7 s12">
    <entitled :job="job"/>

    <certifications />
    <professional-experience />

  </section>
</template>

<script>
import { defineComponent } from 'vue'
import Entitled from '@/components/Entitled.vue'
import Certifications from '@/components/Certifications.vue'
import ProfessionalExperience from '@/components/ProfessionalExperience.vue'

export default defineComponent({
  name: 'MainInfo',
  components: {
    Entitled,
    Certifications,
    ProfessionalExperience
  },
  props: ['job']
})
</script>
