<template>
  <section>
    <h3>Expériences Professionnelles</h3>

    <ul>
      <li v-for="(experience, index) in experiences" :key="index">
        <main-item v-bind="experience" />
      </li>
    </ul>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import MainItem from '@/components/MainItem.vue'

interface Experience {
  name: string;
  date: string;
  location: string;
  desc: string;
}

const experiences: Array<Experience> = [
  {
    name: 'Internship: Software Engineer',
    date: 'De Juin 2019 a Décembre 2019',
    location: 'Videolabs - VLC \\\\Paris',
    desc: 'En C, parcours de filesystem freebox via son API rest afin de lire ses fichiers multimedia, participation a l\'écriture d\'une chaine de filtre openGL, écriture de filtres de demo openGL, écriture d\'un loggeur formatable et d\'un cron engine pour archiver les logs.'
  },
  {
    name: 'Internship: Front Developer',
    date: 'De Janvier 2018 a Juillet 2018',
    location: 'CXIgnited \\\\Paris',
    desc: 'Maintenance d\'applications écrites en AureliaJS, realisation d\'une interface de scan QRcode/enregistrement de produits en reactJS.'
  },
  {
    name: 'Internship: Fullstack Developer',
    date: 'De Novembre 2016 a Avril 2017',
    location: 'TDF \\\\Montrouge',
    desc: 'Developpement sur une plateforme cloud, en Python / django / DRF. Interface entre une application de gestion de zones et la plateforme, mise en place d\'un service d\'enregistrement de nom de domaine ( proxy avec gandi ), mise en place de risksgroups pour la création de VM'
  },
  {
    name: 'Equipier Polyvalent',
    date: 'De Mai 2014 a Octobre 2015',
    location: 'McDonalds \\\\Les Arcs sur Argens',
    desc: ''
  }
]

export default defineComponent({
  name: 'ProfessionalExperience',
  components: {
    MainItem
  },
  data () {
    return {
      experiences
    }
  }
})
</script>
